[submodule "silero-vad"]
	path = silero-vad
	url = https://github.com/BrownVisualProsthesisProject/silero-vad
[submodule "yolov5"]
	path = yolov5
	url = https://github.com/BrownVisualProsthesisProject/yolov5
